<div class="">
	<h1 class="text-3xl font-bold text-black">
			Hello world!
	</h1>
</div>

<div class="">
	<button class="btn">
		<%= link_to "Post", posts_path %>
	</button>
	<button class="btn">
		daisyUI
	</button>
</div>
